<main>
  <header>
    <h2>Coronavírus - Campos dos Goytacazes</h2>
    <p>Confira os dados dos casos confirmados de coronavírus e óbitos por Covid-19 na cidade de Campos dos Goytacazes - RJ.
      Os dados são coletados dos <a href="https://www.campos.rj.gov.br/search.php?s=boletim" target="_blank">boletins informativos</a> da prefeitura de Campos dos Goytacazes e atualizados automaticamente.
      <a href="https://github.com/Lucas12j/Casos_Covid_Campos_dos_Goytacazes" target="_blank">Aqui</a> você pode acessar o repositório da base de dados.</p>
  </header>

  <div class="spinner" *ngIf="!ready">
    <mat-spinner diameter="50"></mat-spinner>
  </div>

  <p class="small"><small *ngIf="error">Falha ao carregar os dados. Verifique sua conexão com a internet ou tente mais tarde.</small></p>

  <div class="filter-section" *ngIf="ready">
    <div class="filter-btn" [class.filter-btn-selected]="filterWeeks == 0" (click)="updateFilter(0)">
      Todo o período
    </div>
    <div class="filter-btn" [class.filter-btn-selected]="filterWeeks == 1" (click)="updateFilter(1)">
      Últimos 7 dias
    </div>
    <div class="filter-btn" [class.filter-btn-selected]="filterWeeks == 4" (click)="updateFilter(4)">
      Últimas 4 semanas
    </div>
    <div class="filter-btn" [class.filter-btn-selected]="filterWeeks == 12" (click)="updateFilter(12)">
      Últimos 3 meses
    </div>
  </div>

  <app-line-chart
    *ngIf="ready"
    [index]="1"
    [dataset]="casesDataset"
    chartTitle="Evolução do total de casos confirmados"
    chartColor="#1951D1">
  </app-line-chart>
  <app-line-chart
    *ngIf="ready"
    [index]="2"
    [dataset]="deathDataset"
    chartTitle="Evolução do total de óbitos"
    chartColor="#ff5656">
  </app-line-chart>

  <app-column-chart
    *ngIf="ready"
    [index]="1"
    [dataset]="casesByDayDataset"
    [datasetAverage]="casesAverageDataset"
    chartTitle="Casos confirmados por dia"
    chartColor="#1951D1">
  </app-column-chart>

  <app-column-chart
    *ngIf="ready"
    [index]="2"
    [dataset]="deathByDayDataset"
    [datasetAverage]="deathAverageDataset"
    chartTitle="Óbitos por dia"
    chartColor="#ff5656">
  </app-column-chart>

  <p class="small" *ngIf="ready"><small>Feito por <a href="https://www.linkedin.com/in/luidi-matheus-554552157/" target="_blank">Luidi Matheus</a> e <a href="https://www.linkedin.com/in/contato-lucas-da-silva-dos-santos/" target="_blank">Lucas Santos</a></small></p>
</main>
